/* PasswordStrengthBar.module.css */
.strengthContainer {
  display: flex;
  padding: 4px;
  flex-direction: column;
  margin-top: 5px; /* Espacio entre el input y la barra */
}

.strengthBar {
  height: 5px; /* Altura de la barra */
  border-radius: 5px; /* Esquinas redondeadas */
  transition: width 0.3s ease; /* Animación suave para el cambio de tamaño */
}

span {
  display: flex;
  justify-content: end;
  margin: 0 auto;
  font-size: 11px; /* Tamaño del texto */
  margin-top: 2px; /* Espacio entre la barra y el texto */
}
